<nav>
  <div class="title">My Documents</div>
  <span>
    <button mat-icon-button (click)="Refresh()"
      arial-label="Refresh Pending Documents"><mat-icon>refresh</mat-icon></button>
    <button mat-icon-button (click)="Insert()" aria-label="Add Document"><mat-icon>add</mat-icon></button>
  </span>
</nav>
<form style="display: flex;">
  <mat-form-field style="padding-right: 10px;">
    <mat-label>Document Status:</mat-label>
    <mat-select [(ngModel)]="filter" name="documentStatus">
      <mat-option *ngFor="let status of listStatus" (click)="Filter()" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="ApplyFilter($event)" placeholder="" #input>
  </mat-form-field>
</form>
<table mat-table [dataSource]="itemList" matSort>
  <ng-container matColumnDef="documentName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="requesterName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Requester</th>
    <td mat-cell *matCellDef="let element">{{element.requesterName}}</td>
  </ng-container>
  <ng-container matColumnDef="documentStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="CheckStatus(element.status, element.id)">
        <b [ngClass]="GetDocumentStatusClass(element.status)">{{element.status}}</b>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="requestDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Date</th>
    <td mat-cell *matCellDef="let element">{{element.requestDate}}</td>
  </ng-container>
  <ng-container matColumnDef="document">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">View</th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"><mat-icon
        (click)="View(element.id)">visibility</mat-icon></td>
  </ng-container>
  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Download</th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"><mat-icon
        (click)="Download(element.id, element.name)">download</mat-icon></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr>
</table>
<mat-paginator [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true"></mat-paginator>